<div class="container mx-auto min-h-screen">
<h2>一週間の献立</h2>
<ul>
  <% @ai_generate.menu_response.each do |day, meals| %>
    <li><strong><%= day %>:</strong>
      <ul>
        <% meals.each do |meal| %>
          <li><%= meal %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>買い物リスト</h2>
<ul>
  <% @ai_generate.shopping_list_response.each do |category, items| %>
    <li><strong>
      <% case category %>
      <% when "meat_fish" %>
        <%= "肉・魚" %>
      <% when "vegetables" %>
        <%= "野菜" %>
      <% else %>
        <%= category.capitalize %>  <!-- 他のカテゴリーもそのまま表示 -->
      <% end %>:
    </strong>
      <ul>
        <% items.each do |item| %>
          <li><%= item["item"] %>: <%= item["quantity"] %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>予想される合計金額: <%= @ai_generate.sum_response %> 円</h2>
</div>