<div class="flex flex-col items-center justify-center min-h-screen w-full">
  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow">
    <div class="text-center mb-8">
      <h1 class="text-xl font-mono">マイページ 編集</h1>
    </div>
<%= form_with model: @user, url: update_path, method: :patch , local: true, html: { multipart: true } do |f| %>
    <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
<!-- マイページフォーム -->
    <div class="space-y-4">
      <div class="field">
        <%= f.label :name,"ユーザー名", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autofocus: true, class: "input input-bordered w-full max-w-xs", placeholder: "ユーザー名" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, class: "input input-bordered w-full max-w-xs", placeholder: "Email", autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :budget,"予算", class: "block text-sm font-medium text-gray-700" %>
        <%= f.number_field :budget, class: "input input-bordered w-full max-w-xs", placeholder: "一週間分の予算" %>
      </div>

      <div class="field">
        <%= f.label :people,"人数", class: "block text-sm font-medium text-gray-700" %>
        <%= f.number_field :people, class: "input input-bordered w-full max-w-xs", placeholder: "人数" %>
      </div>

      <div class="field">
        <%= f.label :introduction,"ひとこと", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_area :introduction, class: "input input-bordered w-full max-w-xs", placeholder: "ひとこと" %>
      </div>

      <div class="field">
        <%= f.label :avatar,"アバター"%>
        <div class="file-input-container">
          <%= f.file_field :avatar, class: 'file-input file-input-bordered w-full max-w-xs', accept: 'image/*', id: 'avatar_input' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>

      <div class='mt-3 mb-3'>
        <%= image_tag @user.avatar.url,
                class: 'rounded-full w-24 h-24',
                id: 'preview' %>
      </div>

      <div class="text-center">
        <%= f.submit "更新", class: "btn w-full" %>
      </div>
    </div>
    <% end %>
  </div>
</div>