<div class="text-center m-8">
  <h1 class="text-xl font-mono">マイページ</h1>
</div>

<!-- マイページ情報 -->
<div class="flex flex-col items-center w-full">
  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow flex">
    <div class="avatar">
      <div class="w-24 rounded-full mr-4">
        <%= image_tag current_user.avatar_url %>
      </div>
    </div>
    <div class="flex flex-col">
      <h3>アカウント名：<%= current_user.name %></h3>
      <h3>予算：<%= current_user.budget %>円</h3>
      <h3>人数：<%= current_user.people %>人</h3>
      <h3><%= current_user.introduction %></h3>
    </div>
  </div>
</div>

<!-- リンク -->
<div class="w-full flex items-center my-5 border-b border-gray-100">
  <%= link_to bookmarks_posts_path, class: "flex flex-col items-center flex-1 py-2 text-gray-500 hover:text-gray-700 transition-colors duration-200" do %>
    <%= image_tag 'heart.svg', alt: "heart", class: "h-6 w-6 mb-1" %>
    <span class="text-xs text-gray-500">お気に入り</span>
  <% end %>

  <div class="border-l border-gray-300 h-8 mx-2"></div> <!-- 縦線 -->

  <%= link_to favorites_ai_generates_path, class: "flex flex-col items-center flex-1 py-2 text-gray-500 hover:text-gray-700 transition-colors duration-200" do %>
    <%= image_tag 'book.svg', alt: "book", class: "h-6 w-6 mb-1" %>
    <span class="text-xs text-gray-500">AI ブックマーク</span>
  <% end %>

  <div class="border-l border-gray-300 h-8 mx-2"></div> <!-- 縦線 -->

  <%= link_to edit_path, class: "flex flex-col items-center flex-1 py-2 text-gray-500 hover:text-gray-700 transition-colors duration-200" do %>
    <%= image_tag 'pencil-square.svg', alt: "pencil", class: "h-6 w-6 mb-1" %>
    <span class="text-xs text-gray-500">マイページ編集</span>
  <% end %>
</div>

<!-- 自分の投稿一覧 -->
<div class="w-full">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-between">
    <% if @posts.present? %>
      <%= render partial: 'posts/post_card', collection: @posts, as: :post %>
    <% else %>
      <p class="text-gray-700 text-center">該当する投稿が見つかりませんでした。</p>
    <% end %>
  </div>
</div>
<%= paginate @posts %>
