<div class="container mx-auto p-4">
  <div class="max-w-lg mx-auto">
     <% if current_user.own?(@post) %>
                <div class='flex justify-end'>
                  <%= link_to "#", id: "button-edit-#{@post.id}" do %>
                    <%= image_tag 'pencil-square.svg', alt: "trash", class: "h-6 w-6 mb-1" %>
                  <% end %>
                  <%= link_to post_path(@post), id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: "削除していいですか"} do %>
                    <%= image_tag 'trash.svg', alt: "trash", class: "h-6 w-6 mb-1" %>
                  <% end %>
                </div>
              <% end %>

    <h3 class="text-2xl font-bold text-center mb-6">献立内容</h3>
    
    <!-- 一週間のメニュー -->
    <div class="mb-4">
      <h4 class="text-lg font-semibold">月曜日</h4>
      <p class="text-gray-700"><%= @post.menu.monday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">火曜日</h4>
      <p class="text-gray-700"><%= @post.menu.tuesday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">水曜日</h4>
      <p class="text-gray-700"><%= @post.menu.wednesday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">木曜日</h4>
      <p class="text-gray-700"><%= @post.menu.thursday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">金曜日</h4>
      <p class="text-gray-700"><%= @post.menu.friday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">土曜日</h4>
      <p class="text-gray-700"><%= @post.menu.saturday if @post.menu %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">日曜日</h4>
      <p class="text-gray-700"><%= @post.menu.sunday if @post.menu %></p>
    </div>

    <!-- 買い物リスト -->
    <h3 class="text-2xl font-bold text-center mb-6">買い物リスト</h3>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">肉、魚類</h4>
      <p class="text-gray-700"><%= @post.shopping_lists.where(category: 'meat_fish').map(&:name).join(', ') if @post.shopping_lists.any? %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">野菜</h4>
      <p class="text-gray-700"><%= @post.shopping_lists.where(category: 'vegetable').map(&:name).join(', ') if @post.shopping_lists.any? %></p>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold">その他</h4>
      <p class="text-gray-700"><%= @post.shopping_lists.where(category: 'other').map(&:name).join(', ') if @post.shopping_lists.any? %></p>
    </div>

    <!-- メモ -->
    <div class="mb-4">
      <h4 class="text-lg font-semibold">メモ</h4>
      <p class="text-gray-700"><%= @post.memo %></p>
    </div>

    <!-- 合計 -->
    <div class="mb-4">
      <h4 class="text-lg font-semibold">合計</h4>
      <p class="text-gray-700"><%= @post.sum %></p>
    </div>
  </div>
</div>
