<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "matomete" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="matomete" />
    <link rel="manifest" href="/site.webmanifest" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- meta_tag -->
    <%= display_meta_tags(default_meta_tags) %>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-11F8YVT3ZC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-11F8YVT3ZC');
  </script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>

    <main class="flex-grow mb-32">

    <!-- ローディングインジケータ -->
    <div id="loading-indicator"
         class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-50"
         style="display: none;">
      <div class="loader"></div>
    </div>

    <!-- スピナー用CSS -->
    <style>
      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1.5s linear infinite;
      }

      @keyframes spin {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>

      <%= yield %>
      <%= render 'shared/footer' %>
    </main>
  </body>
</html>
